# Python 缓存和虚拟环境
__pycache__/
*.py[cod]
.venv/
venv/

# PyCharm 配置文件
.idea/

# 业务数据与输出结果 (保护隐私)
*.xlsx
*.xls
*.csv
*.png
*.jpg
*.pdf

# 🚀 我们的离线地图缓存池 (极其重要，绝不能传！)
map_cache/

# 本地用户配置文件 (可选，如果你想保留默认配置可以去掉这行)
config.json